@font-face {
    font-family: 'AdvercaseFont-Regular';
    src: url('AdvercaseFont-Regular.woff2') format('woff2'),
         url('AdvercaseFont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}